body,
html {
  width: auto;
  overflow-x: hidden; }
  body p,
  html p {
    font-family: 'PT Sans Narrow';
    font-size: 1.2rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 2rem; }
  body h4,
  html h4 {
    font-family: 'PT Sans Narrow';
    font-size: 1.3rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 200;
    line-height: 2rem; }
  body h1,
  body h2,
  html h1,
  html h2 {
    font-family: 'PT Sans Narrow';
    font-size: 2.4rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 3rem; }
  body h3,
  html h3 {
    font-family: 'PT Sans Narrow';
    font-size: 1.8rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 2rem; }

.bg-ran,
.btn-primary {
  background-color: #005386; }

.bottomShadow {
  width: 100%;
  height: 10px;
  box-shadow: 0 5px 4px -4px #9ca4aa; }

.footerDiv {
  margin: 2rem 0 0;
  padding: 0 0 1rem; }

.longList {
  margin: 2rem 0; }

.important {
  font-size: 1.2rem; }

.border-bottom {
  border-bottom: 1px solid #373A3C; }

.inFront {
  position: relative;
  z-index: 10; }

#particles-js {
  position: absolute;
  width: 100%;
  z-index: 0;
  top: 0; }

.spacer {
  color: white !important;
  margin: 0 0 0 1rem !important; }

.logo-top {
  max-height: 100px; }

.logo-moved {
  max-height: 50px; }

.scrolled .navbar-brand .logo-top,
.unscrolled .navbar-brand .logo-moved {
  display: none; }

.navbar {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  font-size: 1.3rem;
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out; }

.navbar.scrolled {
  background: #010101; }

@media (max-width: 768px) {
  .navbar-nav {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    background: #010101; } }

.collapse.in .navbar-nav {
  top: 66px; }

.dropDown .collapse,
.dropDown .collapsing {
  position: absolute;
  background: white;
  border: 0.5px solid #010101;
  border-radius: 5px; }
  @media (max-width: 768px) {
    .dropDown .collapse,
    .dropDown .collapsing {
      position: relative; } }

.ancor {
  padding-top: 80px; }
  @media (max-width: 768px) {
    .ancor {
      padding-top: 5px; } }

.text-center {
  text-align: center; }

.jumbotron {
  color: white; }

.infoCard {
  min-height: 450px; }

.text-wrapper .read-more-state {
  display: none; }

.text-wrapper .read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .4s ease; }
  .text-wrapper .read-more-target br {
    display: none; }

.text-wrapper .read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em; }
  .text-wrapper .read-more-state:checked ~ .read-more-wrap .read-more-target br {
    display: block; }

.text-wrapper .read-more-state ~ .read-more-trigger:before {
  content: 'Show more'; }

.text-wrapper .read-more-state:checked ~ .read-more-trigger:before {
  content: 'Show less'; }

.solution img {
  max-height: 300px;
  max-width: 400px; }

.minH {
  min-height: 350px; }

.partners {
  padding: 5rem 0 0;
  min-height: 500px; }
  .partners a {
    font-size: 1.5rem;
    color: white;
    margin: 0 1rem; }
  .partners .important p {
    display: inline; }
